<a href="https://colab.research.google.com/github/EricOdhiambo/wrangling-and-Analyzing-data/blob/main/wrangle_report.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Reporting: wragle_report

This project enatailed wrangling data from Twitter about different dogs. Theree different data sets containing different information about dogs from twitter were collected using different methods from  twitter sources, assessed, merged and cleaned to create a master data set. The wrangling efforts began by visually and programattically assessing the data frames individually as CSV files using Google Sheets, and later as data frames using Pandas, Numpy, Python Programming Language and other related programming packages.

While assessing the dataframes I was able to flag some anomalies in the different data frames which include but were not limited to:

Quality Issues

-In *df1: **twitter-archive.csv***, out of the 2356 entries in each column of this dataframe:

* 2278 values in 'in_reply_to_status_id' column are missing

* The 'retweeted_status_id' column has 2175 missing values

* There are 2175 null values in the 'retweeted_status_user_id' column too

* In the 'retweeted_status_timestamp' column 2175 values are missing

* The 'in_reply_to_user_id' column has 2278 missing valuess

* The 'expanded_url' column has some missing value

* There is inconsitent data in the 'rating_denominator' column.

* Some dogs have no names i.e Missing values in 'name' column.

* Some dogs have been named inaccurately and incorrectly with just letters like 'a'.

Tidiness issues
* Some rows in the df1 column 'name' had an entry 'None'

* Some entries in df1's 'text' column ought to be in other fields or other datasets

### Cleaning the data frames

The main instances in the quality issues were **missing values**s **data inaccuracy** and **data inconsistency**. To fix:

* *2278 values in 'in_reply_to_status_id' column are missing* - 
I dropped this column since most of its entries were empty. Out of the 2356 entries in this column, 2278 were missing and having such a column would render our data untrustworthy which had to be deleted. t

To further clean more **missing values** cases, after assessing and noting that:

* *The 'retweeted_status_id' column had 2175 missing values*

* *There were 2175 null values in the 'retweeted_status_user_id' column too*

* *In the 'retweeted_status_timestamp' column 2175 values were missing*

drawing a percentage attribute of **92.31 %** of missing value in the named columns,

>>>>$\frac{2175}{2356} = {0.9231}$

>>>>*0.9231* x *100%* = **92.31 %**

I deciced to drop these columns. This will ensure a more accurate data set that can be used to draw meaningful insights. I further deleted the column 'in_reply_to_user_id' column which had 2278 missing values and would clearly derive above 90% of missing value in the 'in_reply_to_user_id' column like in previous dropped columns. The 'expanded_url' column had few rows with missing values too. In this case, I dropped the few rows which had the missing values.

Most entries of the 'rating_denominator' were '10' but in other cases they are different. Some are '50' '120' '90' '150' '130' '2' '11' e.t.c. For this data's consistency it was best to keep the data with ratings denominatoer entries equall to 10 and drop all other rows with varrying 'rating_denominator' values.

I equally noted that some dogs had no names thus indicating missing values in 'name' column. To clean this quality issue the rows which had no names of dogs were dropped. Some dogs had been named inaccurately and incorrectly with just letters like 'a'. Conventionally, 'a' would not be considered as name and therefore the columns with such names were dropped too.

On the quality issue like *Some rows in the twitter-archive-enhanced.csv file 'name' column ' had an entry 'None'* - an entry 'None' is not proper to be considered as a name. I replaced 'None' with 'Nan' which would leave data with missing values in the modified areas. The rows with the missing names would further be deleted.

*Some entries in twitter-archive-enhanced.csv file 'text' column ought to be in other fields or other dataset*. The assessing steps drove discoveries that these texts were not original tweets but retweets, identified starting with a string of text RT. For this issue, each retweet text from the data set was deleted as they should belong in a seperate data set preferably a retweets data set.

The three data frames were then joined to form one data frame using the columns' 'tweet_id' which was common in all data frames. This merged data frame would be saved and stored as the master data set,  twitter_archive_master.csv file.